Framework/MotorVisualizacion/MNavegacionDatosAS/Web References/MNavDatosWS/MNavDatosWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RecuperarRelaciones">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pTipo" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarRelacionesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarRelacionesResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarEntidadNavDN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pTipo" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarEntidadNavDNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarEntidadNavDNResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RecuperarRelacionesSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarRelaciones" />
  </wsdl:message>
  <wsdl:message name="RecuperarRelacionesSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarRelacionesResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperarEntidadNavDNSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarEntidadNavDN" />
  </wsdl:message>
  <wsdl:message name="RecuperarEntidadNavDNSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarEntidadNavDNResponse" />
  </wsdl:message>
  <wsdl:portType name="MNavDatosWSSoap">
    <wsdl:operation name="RecuperarRelaciones">
      <wsdl:input message="tns:RecuperarRelacionesSoapIn" />
      <wsdl:output message="tns:RecuperarRelacionesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarEntidadNavDN">
      <wsdl:input message="tns:RecuperarEntidadNavDNSoapIn" />
      <wsdl:output message="tns:RecuperarEntidadNavDNSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MNavDatosWSSoap" type="tns:MNavDatosWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecuperarRelaciones">
      <soap:operation soapAction="http://tempuri.org/RecuperarRelaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarEntidadNavDN">
      <soap:operation soapAction="http://tempuri.org/RecuperarEntidadNavDN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MNavDatosWSSoap12" type="tns:MNavDatosWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecuperarRelaciones">
      <soap12:operation soapAction="http://tempuri.org/RecuperarRelaciones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarEntidadNavDN">
      <soap12:operation soapAction="http://tempuri.org/RecuperarEntidadNavDN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MNavDatosWS">
    <wsdl:port name="MNavDatosWSSoap" binding="tns:MNavDatosWSSoap">
      <soap:address location="http://localhost:3002/SolucionFrameworkWS/MNavDatosWS.asmx" />
    </wsdl:port>
    <wsdl:port name="MNavDatosWSSoap12" binding="tns:MNavDatosWSSoap12">
      <soap12:address location="http://localhost:3002/SolucionFrameworkWS/MNavDatosWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>