Despliegue/DespliegueCliente/Web References/DespliegueWebService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Diferencias">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="colArchivos" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DiferenciasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DiferenciasResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RutaEjecutable">
        <s:complexType />
      </s:element>
      <s:element name="RutaEjecutableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RutaEjecutableResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DameURLArchivo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parchivo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DameURLArchivoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DameURLArchivoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DiferenciasSoapIn">
    <wsdl:part name="parameters" element="tns:Diferencias" />
  </wsdl:message>
  <wsdl:message name="DiferenciasSoapOut">
    <wsdl:part name="parameters" element="tns:DiferenciasResponse" />
  </wsdl:message>
  <wsdl:message name="RutaEjecutableSoapIn">
    <wsdl:part name="parameters" element="tns:RutaEjecutable" />
  </wsdl:message>
  <wsdl:message name="RutaEjecutableSoapOut">
    <wsdl:part name="parameters" element="tns:RutaEjecutableResponse" />
  </wsdl:message>
  <wsdl:message name="DameURLArchivoSoapIn">
    <wsdl:part name="parameters" element="tns:DameURLArchivo" />
  </wsdl:message>
  <wsdl:message name="DameURLArchivoSoapOut">
    <wsdl:part name="parameters" element="tns:DameURLArchivoResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="Diferencias">
      <wsdl:input message="tns:DiferenciasSoapIn" />
      <wsdl:output message="tns:DiferenciasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RutaEjecutable">
      <wsdl:input message="tns:RutaEjecutableSoapIn" />
      <wsdl:output message="tns:RutaEjecutableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DameURLArchivo">
      <wsdl:input message="tns:DameURLArchivoSoapIn" />
      <wsdl:output message="tns:DameURLArchivoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Diferencias">
      <soap:operation soapAction="http://tempuri.org/Diferencias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RutaEjecutable">
      <soap:operation soapAction="http://tempuri.org/RutaEjecutable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DameURLArchivo">
      <soap:operation soapAction="http://tempuri.org/DameURLArchivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Diferencias">
      <soap12:operation soapAction="http://tempuri.org/Diferencias" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RutaEjecutable">
      <soap12:operation soapAction="http://tempuri.org/RutaEjecutable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DameURLArchivo">
      <soap12:operation soapAction="http://tempuri.org/DameURLArchivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost/DespliegueWebService/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost/DespliegueWebService/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>