Framework/UsuariosMod/IU/AS/Web References/UsrWS/UsuariosWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="IniciarSesion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="di" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IniciarSesionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IniciarSesionResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerPrincipal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="di" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerPrincipalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerPrincipalResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerPrincipalPorID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerPrincipalPorIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerPrincipalPorIDResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarListadoUsuarios">
        <s:complexType />
      </s:element>
      <s:element name="RecuperarListadoUsuariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarListadoUsuariosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarPrincipal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="principal" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="di" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarPrincipalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GuardarPrincipalResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarPrincipalSinDI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="principal" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarPrincipalSinDIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GuardarPrincipalSinDIResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AltaPrincipal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="principal" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="di" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AltaPrincipalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AltaPrincipalResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BajaPrincipal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="principal" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BajaPrincipalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BajaPrincipalResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarPrincipalxEntidadUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tipoEnt" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="idEntidad" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarPrincipalxEntidadUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarPrincipalxEntidadUserResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarColRoles">
        <s:complexType />
      </s:element>
      <s:element name="RecuperarColRolesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarColRolesResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarListaCasosUso">
        <s:complexType />
      </s:element>
      <s:element name="RecuperarListaCasosUsoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarListaCasosUsoResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarMetodos">
        <s:complexType />
      </s:element>
      <s:element name="RecuperarMetodosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarMetodosResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarCasoUso">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="casoUso" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarCasoUsoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GuardarCasoUsoResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarRol">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rol" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarRolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GuardarRolResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IniciarSesionSoapIn">
    <wsdl:part name="parameters" element="tns:IniciarSesion" />
  </wsdl:message>
  <wsdl:message name="IniciarSesionSoapOut">
    <wsdl:part name="parameters" element="tns:IniciarSesionResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerPrincipalSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerPrincipal" />
  </wsdl:message>
  <wsdl:message name="ObtenerPrincipalSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerPrincipalResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerPrincipalPorIDSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerPrincipalPorID" />
  </wsdl:message>
  <wsdl:message name="ObtenerPrincipalPorIDSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerPrincipalPorIDResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperarListadoUsuariosSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarListadoUsuarios" />
  </wsdl:message>
  <wsdl:message name="RecuperarListadoUsuariosSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarListadoUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="GuardarPrincipalSoapIn">
    <wsdl:part name="parameters" element="tns:GuardarPrincipal" />
  </wsdl:message>
  <wsdl:message name="GuardarPrincipalSoapOut">
    <wsdl:part name="parameters" element="tns:GuardarPrincipalResponse" />
  </wsdl:message>
  <wsdl:message name="GuardarPrincipalSinDISoapIn">
    <wsdl:part name="parameters" element="tns:GuardarPrincipalSinDI" />
  </wsdl:message>
  <wsdl:message name="GuardarPrincipalSinDISoapOut">
    <wsdl:part name="parameters" element="tns:GuardarPrincipalSinDIResponse" />
  </wsdl:message>
  <wsdl:message name="AltaPrincipalSoapIn">
    <wsdl:part name="parameters" element="tns:AltaPrincipal" />
  </wsdl:message>
  <wsdl:message name="AltaPrincipalSoapOut">
    <wsdl:part name="parameters" element="tns:AltaPrincipalResponse" />
  </wsdl:message>
  <wsdl:message name="BajaPrincipalSoapIn">
    <wsdl:part name="parameters" element="tns:BajaPrincipal" />
  </wsdl:message>
  <wsdl:message name="BajaPrincipalSoapOut">
    <wsdl:part name="parameters" element="tns:BajaPrincipalResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperarPrincipalxEntidadUserSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarPrincipalxEntidadUser" />
  </wsdl:message>
  <wsdl:message name="RecuperarPrincipalxEntidadUserSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarPrincipalxEntidadUserResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperarColRolesSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarColRoles" />
  </wsdl:message>
  <wsdl:message name="RecuperarColRolesSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarColRolesResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperarListaCasosUsoSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarListaCasosUso" />
  </wsdl:message>
  <wsdl:message name="RecuperarListaCasosUsoSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarListaCasosUsoResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperarMetodosSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarMetodos" />
  </wsdl:message>
  <wsdl:message name="RecuperarMetodosSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarMetodosResponse" />
  </wsdl:message>
  <wsdl:message name="GuardarCasoUsoSoapIn">
    <wsdl:part name="parameters" element="tns:GuardarCasoUso" />
  </wsdl:message>
  <wsdl:message name="GuardarCasoUsoSoapOut">
    <wsdl:part name="parameters" element="tns:GuardarCasoUsoResponse" />
  </wsdl:message>
  <wsdl:message name="GuardarRolSoapIn">
    <wsdl:part name="parameters" element="tns:GuardarRol" />
  </wsdl:message>
  <wsdl:message name="GuardarRolSoapOut">
    <wsdl:part name="parameters" element="tns:GuardarRolResponse" />
  </wsdl:message>
  <wsdl:portType name="UsuariosWSSoap">
    <wsdl:operation name="IniciarSesion">
      <wsdl:input message="tns:IniciarSesionSoapIn" />
      <wsdl:output message="tns:IniciarSesionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPrincipal">
      <wsdl:input message="tns:ObtenerPrincipalSoapIn" />
      <wsdl:output message="tns:ObtenerPrincipalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPrincipalPorID">
      <wsdl:input message="tns:ObtenerPrincipalPorIDSoapIn" />
      <wsdl:output message="tns:ObtenerPrincipalPorIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarListadoUsuarios">
      <wsdl:input message="tns:RecuperarListadoUsuariosSoapIn" />
      <wsdl:output message="tns:RecuperarListadoUsuariosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GuardarPrincipal">
      <wsdl:input message="tns:GuardarPrincipalSoapIn" />
      <wsdl:output message="tns:GuardarPrincipalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GuardarPrincipalSinDI">
      <wsdl:input message="tns:GuardarPrincipalSinDISoapIn" />
      <wsdl:output message="tns:GuardarPrincipalSinDISoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AltaPrincipal">
      <wsdl:input message="tns:AltaPrincipalSoapIn" />
      <wsdl:output message="tns:AltaPrincipalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BajaPrincipal">
      <wsdl:input message="tns:BajaPrincipalSoapIn" />
      <wsdl:output message="tns:BajaPrincipalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarPrincipalxEntidadUser">
      <wsdl:input message="tns:RecuperarPrincipalxEntidadUserSoapIn" />
      <wsdl:output message="tns:RecuperarPrincipalxEntidadUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarColRoles">
      <wsdl:input message="tns:RecuperarColRolesSoapIn" />
      <wsdl:output message="tns:RecuperarColRolesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarListaCasosUso">
      <wsdl:input message="tns:RecuperarListaCasosUsoSoapIn" />
      <wsdl:output message="tns:RecuperarListaCasosUsoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarMetodos">
      <wsdl:input message="tns:RecuperarMetodosSoapIn" />
      <wsdl:output message="tns:RecuperarMetodosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GuardarCasoUso">
      <wsdl:input message="tns:GuardarCasoUsoSoapIn" />
      <wsdl:output message="tns:GuardarCasoUsoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GuardarRol">
      <wsdl:input message="tns:GuardarRolSoapIn" />
      <wsdl:output message="tns:GuardarRolSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UsuariosWSSoap" type="tns:UsuariosWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IniciarSesion">
      <soap:operation soapAction="http://tempuri.org/IniciarSesion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPrincipal">
      <soap:operation soapAction="http://tempuri.org/ObtenerPrincipal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPrincipalPorID">
      <soap:operation soapAction="http://tempuri.org/ObtenerPrincipalPorID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarListadoUsuarios">
      <soap:operation soapAction="http://tempuri.org/RecuperarListadoUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarPrincipal">
      <soap:operation soapAction="http://tempuri.org/GuardarPrincipal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarPrincipalSinDI">
      <soap:operation soapAction="http://tempuri.org/GuardarPrincipalSinDI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaPrincipal">
      <soap:operation soapAction="http://tempuri.org/AltaPrincipal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaPrincipal">
      <soap:operation soapAction="http://tempuri.org/BajaPrincipal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarPrincipalxEntidadUser">
      <soap:operation soapAction="http://tempuri.org/RecuperarPrincipalxEntidadUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarColRoles">
      <soap:operation soapAction="http://tempuri.org/RecuperarColRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarListaCasosUso">
      <soap:operation soapAction="http://tempuri.org/RecuperarListaCasosUso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarMetodos">
      <soap:operation soapAction="http://tempuri.org/RecuperarMetodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarCasoUso">
      <soap:operation soapAction="http://tempuri.org/GuardarCasoUso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarRol">
      <soap:operation soapAction="http://tempuri.org/GuardarRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UsuariosWSSoap12" type="tns:UsuariosWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IniciarSesion">
      <soap12:operation soapAction="http://tempuri.org/IniciarSesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPrincipal">
      <soap12:operation soapAction="http://tempuri.org/ObtenerPrincipal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPrincipalPorID">
      <soap12:operation soapAction="http://tempuri.org/ObtenerPrincipalPorID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarListadoUsuarios">
      <soap12:operation soapAction="http://tempuri.org/RecuperarListadoUsuarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarPrincipal">
      <soap12:operation soapAction="http://tempuri.org/GuardarPrincipal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarPrincipalSinDI">
      <soap12:operation soapAction="http://tempuri.org/GuardarPrincipalSinDI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaPrincipal">
      <soap12:operation soapAction="http://tempuri.org/AltaPrincipal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaPrincipal">
      <soap12:operation soapAction="http://tempuri.org/BajaPrincipal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarPrincipalxEntidadUser">
      <soap12:operation soapAction="http://tempuri.org/RecuperarPrincipalxEntidadUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarColRoles">
      <soap12:operation soapAction="http://tempuri.org/RecuperarColRoles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarListaCasosUso">
      <soap12:operation soapAction="http://tempuri.org/RecuperarListaCasosUso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarMetodos">
      <soap12:operation soapAction="http://tempuri.org/RecuperarMetodos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarCasoUso">
      <soap12:operation soapAction="http://tempuri.org/GuardarCasoUso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarRol">
      <soap12:operation soapAction="http://tempuri.org/GuardarRol" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsuariosWS">
    <wsdl:port name="UsuariosWSSoap" binding="tns:UsuariosWSSoap">
      <soap:address location="http://localhost:3002/SolucionFrameworkWS/UsuariosWS.asmx" />
    </wsdl:port>
    <wsdl:port name="UsuariosWSSoap12" binding="tns:UsuariosWSSoap12">
      <soap12:address location="http://localhost:3002/SolucionFrameworkWS/UsuariosWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>