FrameworkNegocio/LocalizacionesMod/LocalizacionesAS/Web References/LocalizacionesWS/LocalizacionesWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RecuperarLocalidadPorCodigoPostal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pCodigoPostal" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarLocalidadPorCodigoPostalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarLocalidadPorCodigoPostalResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RecuperarLocalidadPorCodigoPostalSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarLocalidadPorCodigoPostal" />
  </wsdl:message>
  <wsdl:message name="RecuperarLocalidadPorCodigoPostalSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarLocalidadPorCodigoPostalResponse" />
  </wsdl:message>
  <wsdl:portType name="LocalizacionesWSSoap">
    <wsdl:operation name="RecuperarLocalidadPorCodigoPostal">
      <wsdl:input message="tns:RecuperarLocalidadPorCodigoPostalSoapIn" />
      <wsdl:output message="tns:RecuperarLocalidadPorCodigoPostalSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LocalizacionesWSSoap" type="tns:LocalizacionesWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecuperarLocalidadPorCodigoPostal">
      <soap:operation soapAction="http://tempuri.org/RecuperarLocalidadPorCodigoPostal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LocalizacionesWSSoap12" type="tns:LocalizacionesWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecuperarLocalidadPorCodigoPostal">
      <soap12:operation soapAction="http://tempuri.org/RecuperarLocalidadPorCodigoPostal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LocalizacionesWS">
    <wsdl:port name="LocalizacionesWSSoap" binding="tns:LocalizacionesWSSoap">
      <soap:address location="http://localhost:3003/SolucionFNWS/LocalizacionesWS.asmx" />
    </wsdl:port>
    <wsdl:port name="LocalizacionesWSSoap12" binding="tns:LocalizacionesWSSoap12">
      <soap12:address location="http://localhost:3003/SolucionFNWS/LocalizacionesWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>