Proyectos/AMV/GDocEntrantes/ClientesDir/ClienteDocEntrantesDir/ClienteAS/Web References/GDocEntrantesWS/GDocEntrantesWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RecuperarOperacionActivaPorEntidadNegocio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pIDEntidadNegocio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pmnensaje" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarOperacionActivaPorEntidadNegocioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarOperacionActivaPorEntidadNegocioResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcesarColComandoOperacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pColComandoOperacionDN" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcesarColComandoOperacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcesarColComandoOperacionResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FicheroIncidentado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pDatosIdentidad" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="pDatosFicheroIncidentado" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FicheroIncidentadoResponse">
        <s:complexType />
      </s:element>
      <s:element name="AltaDocumento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pDatosIdentidad" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="pFicheroParaAlta" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AltaDocumentoResponse">
        <s:complexType />
      </s:element>
      <s:element name="RecuperarColTipoCanal">
        <s:complexType />
      </s:element>
      <s:element name="RecuperarColTipoCanalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarColTipoCanalResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarNumDocPendientesClasificaryPostClasificacion">
        <s:complexType />
      </s:element>
      <s:element name="RecuperarNumDocPendientesClasificaryPostClasificacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarNumDocPendientesClasificaryPostClasificacionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarArbolTiposEntNegocio">
        <s:complexType />
      </s:element>
      <s:element name="RecuperarArbolTiposEntNegocioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarArbolTiposEntNegocioResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarArbolTiposEntNegocio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pCabeceraNodoTipoEntNegoio" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarArbolTiposEntNegocioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GuardarArbolTiposEntNegocioResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarOperacionAProcesarClasificarEntrada">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pIdTipoCanal" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarOperacionAProcesarClasificarEntradaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarOperacionAProcesarClasificarEntradaResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarOperacionAProcesarPostClasificar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pTipoEntNegoioDN" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarOperacionAProcesarPostClasificarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarOperacionAProcesarPostClasificarResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarOperacionEnCursoPara">
        <s:complexType />
      </s:element>
      <s:element name="RecuperarOperacionEnCursoParaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarOperacionEnCursoParaResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IncidentarOperacionEnRelacionENFichero">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pOperacionEnRelacionENFichero" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IncidentarOperacionEnRelacionENFicheroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IncidentarOperacionEnRelacionENFicheroResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnularOperacionEnRelacionENFichero">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pOperacionEnRelacionENFichero" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnularOperacionEnRelacionENFicheroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AnularOperacionEnRelacionENFicheroResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RechazarOperacionEnRelacionENFichero">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pOperacionEnRelacionENFichero" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RechazarOperacionEnRelacionENFicheroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RechazarOperacionEnRelacionENFicheroResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClasificarOperacionEnRelacionENFichero">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pOperacionEnRelacionENFichero" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="pColEntNegocioDN" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClasificarOperacionEnRelacionENFicheroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClasificarOperacionEnRelacionENFicheroResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClasificarYCerrarOperacionEnRelacionENFichero">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pOperacionEnRelacionENFichero" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClasificarYCerrarOperacionEnRelacionENFicheroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClasificarYCerrarOperacionEnRelacionENFicheroResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarOperacionEnRelacionENFichero">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pOperacionEnRelacionENFichero" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarOperacionEnRelacionENFicheroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GuardarOperacionEnRelacionENFicheroResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutorizadoConfigurarClienteSonda">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pDatosIdentidad" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutorizadoConfigurarClienteSondaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AutorizadoConfigurarClienteSondaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarOperacionxID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idOperacion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarOperacionxIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarOperacionxIDResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarRelacionEnFicheroXID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarRelacionEnFicheroXIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarRelacionEnFicheroXIDResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RecuperarOperacionActivaPorEntidadNegocioSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarOperacionActivaPorEntidadNegocio" />
  </wsdl:message>
  <wsdl:message name="RecuperarOperacionActivaPorEntidadNegocioSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarOperacionActivaPorEntidadNegocioResponse" />
  </wsdl:message>
  <wsdl:message name="ProcesarColComandoOperacionSoapIn">
    <wsdl:part name="parameters" element="tns:ProcesarColComandoOperacion" />
  </wsdl:message>
  <wsdl:message name="ProcesarColComandoOperacionSoapOut">
    <wsdl:part name="parameters" element="tns:ProcesarColComandoOperacionResponse" />
  </wsdl:message>
  <wsdl:message name="FicheroIncidentadoSoapIn">
    <wsdl:part name="parameters" element="tns:FicheroIncidentado" />
  </wsdl:message>
  <wsdl:message name="FicheroIncidentadoSoapOut">
    <wsdl:part name="parameters" element="tns:FicheroIncidentadoResponse" />
  </wsdl:message>
  <wsdl:message name="AltaDocumentoSoapIn">
    <wsdl:part name="parameters" element="tns:AltaDocumento" />
  </wsdl:message>
  <wsdl:message name="AltaDocumentoSoapOut">
    <wsdl:part name="parameters" element="tns:AltaDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperarColTipoCanalSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarColTipoCanal" />
  </wsdl:message>
  <wsdl:message name="RecuperarColTipoCanalSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarColTipoCanalResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperarNumDocPendientesClasificaryPostClasificacionSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarNumDocPendientesClasificaryPostClasificacion" />
  </wsdl:message>
  <wsdl:message name="RecuperarNumDocPendientesClasificaryPostClasificacionSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarNumDocPendientesClasificaryPostClasificacionResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperarArbolTiposEntNegocioSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarArbolTiposEntNegocio" />
  </wsdl:message>
  <wsdl:message name="RecuperarArbolTiposEntNegocioSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarArbolTiposEntNegocioResponse" />
  </wsdl:message>
  <wsdl:message name="GuardarArbolTiposEntNegocioSoapIn">
    <wsdl:part name="parameters" element="tns:GuardarArbolTiposEntNegocio" />
  </wsdl:message>
  <wsdl:message name="GuardarArbolTiposEntNegocioSoapOut">
    <wsdl:part name="parameters" element="tns:GuardarArbolTiposEntNegocioResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperarOperacionAProcesarClasificarEntradaSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarOperacionAProcesarClasificarEntrada" />
  </wsdl:message>
  <wsdl:message name="RecuperarOperacionAProcesarClasificarEntradaSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarOperacionAProcesarClasificarEntradaResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperarOperacionAProcesarPostClasificarSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarOperacionAProcesarPostClasificar" />
  </wsdl:message>
  <wsdl:message name="RecuperarOperacionAProcesarPostClasificarSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarOperacionAProcesarPostClasificarResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperarOperacionEnCursoParaSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarOperacionEnCursoPara" />
  </wsdl:message>
  <wsdl:message name="RecuperarOperacionEnCursoParaSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarOperacionEnCursoParaResponse" />
  </wsdl:message>
  <wsdl:message name="IncidentarOperacionEnRelacionENFicheroSoapIn">
    <wsdl:part name="parameters" element="tns:IncidentarOperacionEnRelacionENFichero" />
  </wsdl:message>
  <wsdl:message name="IncidentarOperacionEnRelacionENFicheroSoapOut">
    <wsdl:part name="parameters" element="tns:IncidentarOperacionEnRelacionENFicheroResponse" />
  </wsdl:message>
  <wsdl:message name="AnularOperacionEnRelacionENFicheroSoapIn">
    <wsdl:part name="parameters" element="tns:AnularOperacionEnRelacionENFichero" />
  </wsdl:message>
  <wsdl:message name="AnularOperacionEnRelacionENFicheroSoapOut">
    <wsdl:part name="parameters" element="tns:AnularOperacionEnRelacionENFicheroResponse" />
  </wsdl:message>
  <wsdl:message name="RechazarOperacionEnRelacionENFicheroSoapIn">
    <wsdl:part name="parameters" element="tns:RechazarOperacionEnRelacionENFichero" />
  </wsdl:message>
  <wsdl:message name="RechazarOperacionEnRelacionENFicheroSoapOut">
    <wsdl:part name="parameters" element="tns:RechazarOperacionEnRelacionENFicheroResponse" />
  </wsdl:message>
  <wsdl:message name="ClasificarOperacionEnRelacionENFicheroSoapIn">
    <wsdl:part name="parameters" element="tns:ClasificarOperacionEnRelacionENFichero" />
  </wsdl:message>
  <wsdl:message name="ClasificarOperacionEnRelacionENFicheroSoapOut">
    <wsdl:part name="parameters" element="tns:ClasificarOperacionEnRelacionENFicheroResponse" />
  </wsdl:message>
  <wsdl:message name="ClasificarYCerrarOperacionEnRelacionENFicheroSoapIn">
    <wsdl:part name="parameters" element="tns:ClasificarYCerrarOperacionEnRelacionENFichero" />
  </wsdl:message>
  <wsdl:message name="ClasificarYCerrarOperacionEnRelacionENFicheroSoapOut">
    <wsdl:part name="parameters" element="tns:ClasificarYCerrarOperacionEnRelacionENFicheroResponse" />
  </wsdl:message>
  <wsdl:message name="GuardarOperacionEnRelacionENFicheroSoapIn">
    <wsdl:part name="parameters" element="tns:GuardarOperacionEnRelacionENFichero" />
  </wsdl:message>
  <wsdl:message name="GuardarOperacionEnRelacionENFicheroSoapOut">
    <wsdl:part name="parameters" element="tns:GuardarOperacionEnRelacionENFicheroResponse" />
  </wsdl:message>
  <wsdl:message name="AutorizadoConfigurarClienteSondaSoapIn">
    <wsdl:part name="parameters" element="tns:AutorizadoConfigurarClienteSonda" />
  </wsdl:message>
  <wsdl:message name="AutorizadoConfigurarClienteSondaSoapOut">
    <wsdl:part name="parameters" element="tns:AutorizadoConfigurarClienteSondaResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperarOperacionxIDSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarOperacionxID" />
  </wsdl:message>
  <wsdl:message name="RecuperarOperacionxIDSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarOperacionxIDResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperarRelacionEnFicheroXIDSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarRelacionEnFicheroXID" />
  </wsdl:message>
  <wsdl:message name="RecuperarRelacionEnFicheroXIDSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarRelacionEnFicheroXIDResponse" />
  </wsdl:message>
  <wsdl:portType name="GDocEntrantesWSSoap">
    <wsdl:operation name="RecuperarOperacionActivaPorEntidadNegocio">
      <wsdl:input message="tns:RecuperarOperacionActivaPorEntidadNegocioSoapIn" />
      <wsdl:output message="tns:RecuperarOperacionActivaPorEntidadNegocioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcesarColComandoOperacion">
      <wsdl:input message="tns:ProcesarColComandoOperacionSoapIn" />
      <wsdl:output message="tns:ProcesarColComandoOperacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FicheroIncidentado">
      <wsdl:input message="tns:FicheroIncidentadoSoapIn" />
      <wsdl:output message="tns:FicheroIncidentadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AltaDocumento">
      <wsdl:input message="tns:AltaDocumentoSoapIn" />
      <wsdl:output message="tns:AltaDocumentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarColTipoCanal">
      <wsdl:input message="tns:RecuperarColTipoCanalSoapIn" />
      <wsdl:output message="tns:RecuperarColTipoCanalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarNumDocPendientesClasificaryPostClasificacion">
      <wsdl:input message="tns:RecuperarNumDocPendientesClasificaryPostClasificacionSoapIn" />
      <wsdl:output message="tns:RecuperarNumDocPendientesClasificaryPostClasificacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarArbolTiposEntNegocio">
      <wsdl:input message="tns:RecuperarArbolTiposEntNegocioSoapIn" />
      <wsdl:output message="tns:RecuperarArbolTiposEntNegocioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GuardarArbolTiposEntNegocio">
      <wsdl:input message="tns:GuardarArbolTiposEntNegocioSoapIn" />
      <wsdl:output message="tns:GuardarArbolTiposEntNegocioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarOperacionAProcesarClasificarEntrada">
      <wsdl:input message="tns:RecuperarOperacionAProcesarClasificarEntradaSoapIn" />
      <wsdl:output message="tns:RecuperarOperacionAProcesarClasificarEntradaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarOperacionAProcesarPostClasificar">
      <wsdl:input message="tns:RecuperarOperacionAProcesarPostClasificarSoapIn" />
      <wsdl:output message="tns:RecuperarOperacionAProcesarPostClasificarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarOperacionEnCursoPara">
      <wsdl:input message="tns:RecuperarOperacionEnCursoParaSoapIn" />
      <wsdl:output message="tns:RecuperarOperacionEnCursoParaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IncidentarOperacionEnRelacionENFichero">
      <wsdl:input message="tns:IncidentarOperacionEnRelacionENFicheroSoapIn" />
      <wsdl:output message="tns:IncidentarOperacionEnRelacionENFicheroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AnularOperacionEnRelacionENFichero">
      <wsdl:input message="tns:AnularOperacionEnRelacionENFicheroSoapIn" />
      <wsdl:output message="tns:AnularOperacionEnRelacionENFicheroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RechazarOperacionEnRelacionENFichero">
      <wsdl:input message="tns:RechazarOperacionEnRelacionENFicheroSoapIn" />
      <wsdl:output message="tns:RechazarOperacionEnRelacionENFicheroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClasificarOperacionEnRelacionENFichero">
      <wsdl:input message="tns:ClasificarOperacionEnRelacionENFicheroSoapIn" />
      <wsdl:output message="tns:ClasificarOperacionEnRelacionENFicheroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClasificarYCerrarOperacionEnRelacionENFichero">
      <wsdl:input message="tns:ClasificarYCerrarOperacionEnRelacionENFicheroSoapIn" />
      <wsdl:output message="tns:ClasificarYCerrarOperacionEnRelacionENFicheroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GuardarOperacionEnRelacionENFichero">
      <wsdl:input message="tns:GuardarOperacionEnRelacionENFicheroSoapIn" />
      <wsdl:output message="tns:GuardarOperacionEnRelacionENFicheroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AutorizadoConfigurarClienteSonda">
      <wsdl:input message="tns:AutorizadoConfigurarClienteSondaSoapIn" />
      <wsdl:output message="tns:AutorizadoConfigurarClienteSondaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarOperacionxID">
      <wsdl:input message="tns:RecuperarOperacionxIDSoapIn" />
      <wsdl:output message="tns:RecuperarOperacionxIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarRelacionEnFicheroXID">
      <wsdl:input message="tns:RecuperarRelacionEnFicheroXIDSoapIn" />
      <wsdl:output message="tns:RecuperarRelacionEnFicheroXIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GDocEntrantesWSSoap" type="tns:GDocEntrantesWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecuperarOperacionActivaPorEntidadNegocio">
      <soap:operation soapAction="http://tempuri.org/RecuperarOperacionActivaPorEntidadNegocio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcesarColComandoOperacion">
      <soap:operation soapAction="http://tempuri.org/ProcesarColComandoOperacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FicheroIncidentado">
      <soap:operation soapAction="http://tempuri.org/FicheroIncidentado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaDocumento">
      <soap:operation soapAction="http://tempuri.org/AltaDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarColTipoCanal">
      <soap:operation soapAction="http://tempuri.org/RecuperarColTipoCanal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarNumDocPendientesClasificaryPostClasificacion">
      <soap:operation soapAction="http://tempuri.org/RecuperarNumDocPendientesClasificaryPostClasificacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarArbolTiposEntNegocio">
      <soap:operation soapAction="http://tempuri.org/RecuperarArbolTiposEntNegocio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarArbolTiposEntNegocio">
      <soap:operation soapAction="http://tempuri.org/GuardarArbolTiposEntNegocio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarOperacionAProcesarClasificarEntrada">
      <soap:operation soapAction="http://tempuri.org/RecuperarOperacionAProcesarClasificarEntrada" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarOperacionAProcesarPostClasificar">
      <soap:operation soapAction="http://tempuri.org/RecuperarOperacionAProcesarPostClasificar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarOperacionEnCursoPara">
      <soap:operation soapAction="http://tempuri.org/RecuperarOperacionEnCursoPara" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncidentarOperacionEnRelacionENFichero">
      <soap:operation soapAction="http://tempuri.org/IncidentarOperacionEnRelacionENFichero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnularOperacionEnRelacionENFichero">
      <soap:operation soapAction="http://tempuri.org/AnularOperacionEnRelacionENFichero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RechazarOperacionEnRelacionENFichero">
      <soap:operation soapAction="http://tempuri.org/RechazarOperacionEnRelacionENFichero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClasificarOperacionEnRelacionENFichero">
      <soap:operation soapAction="http://tempuri.org/ClasificarOperacionEnRelacionENFichero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClasificarYCerrarOperacionEnRelacionENFichero">
      <soap:operation soapAction="http://tempuri.org/ClasificarYCerrarOperacionEnRelacionENFichero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarOperacionEnRelacionENFichero">
      <soap:operation soapAction="http://tempuri.org/GuardarOperacionEnRelacionENFichero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutorizadoConfigurarClienteSonda">
      <soap:operation soapAction="http://tempuri.org/AutorizadoConfigurarClienteSonda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarOperacionxID">
      <soap:operation soapAction="http://tempuri.org/RecuperarOperacionxID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarRelacionEnFicheroXID">
      <soap:operation soapAction="http://tempuri.org/RecuperarRelacionEnFicheroXID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GDocEntrantesWSSoap12" type="tns:GDocEntrantesWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecuperarOperacionActivaPorEntidadNegocio">
      <soap12:operation soapAction="http://tempuri.org/RecuperarOperacionActivaPorEntidadNegocio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcesarColComandoOperacion">
      <soap12:operation soapAction="http://tempuri.org/ProcesarColComandoOperacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FicheroIncidentado">
      <soap12:operation soapAction="http://tempuri.org/FicheroIncidentado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaDocumento">
      <soap12:operation soapAction="http://tempuri.org/AltaDocumento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarColTipoCanal">
      <soap12:operation soapAction="http://tempuri.org/RecuperarColTipoCanal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarNumDocPendientesClasificaryPostClasificacion">
      <soap12:operation soapAction="http://tempuri.org/RecuperarNumDocPendientesClasificaryPostClasificacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarArbolTiposEntNegocio">
      <soap12:operation soapAction="http://tempuri.org/RecuperarArbolTiposEntNegocio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarArbolTiposEntNegocio">
      <soap12:operation soapAction="http://tempuri.org/GuardarArbolTiposEntNegocio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarOperacionAProcesarClasificarEntrada">
      <soap12:operation soapAction="http://tempuri.org/RecuperarOperacionAProcesarClasificarEntrada" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarOperacionAProcesarPostClasificar">
      <soap12:operation soapAction="http://tempuri.org/RecuperarOperacionAProcesarPostClasificar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarOperacionEnCursoPara">
      <soap12:operation soapAction="http://tempuri.org/RecuperarOperacionEnCursoPara" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncidentarOperacionEnRelacionENFichero">
      <soap12:operation soapAction="http://tempuri.org/IncidentarOperacionEnRelacionENFichero" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnularOperacionEnRelacionENFichero">
      <soap12:operation soapAction="http://tempuri.org/AnularOperacionEnRelacionENFichero" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RechazarOperacionEnRelacionENFichero">
      <soap12:operation soapAction="http://tempuri.org/RechazarOperacionEnRelacionENFichero" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClasificarOperacionEnRelacionENFichero">
      <soap12:operation soapAction="http://tempuri.org/ClasificarOperacionEnRelacionENFichero" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClasificarYCerrarOperacionEnRelacionENFichero">
      <soap12:operation soapAction="http://tempuri.org/ClasificarYCerrarOperacionEnRelacionENFichero" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarOperacionEnRelacionENFichero">
      <soap12:operation soapAction="http://tempuri.org/GuardarOperacionEnRelacionENFichero" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutorizadoConfigurarClienteSonda">
      <soap12:operation soapAction="http://tempuri.org/AutorizadoConfigurarClienteSonda" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarOperacionxID">
      <soap12:operation soapAction="http://tempuri.org/RecuperarOperacionxID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarRelacionEnFicheroXID">
      <soap12:operation soapAction="http://tempuri.org/RecuperarRelacionEnFicheroXID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GDocEntrantesWS">
    <wsdl:port name="GDocEntrantesWSSoap" binding="tns:GDocEntrantesWSSoap">
      <soap:address location="http://localhost:3003/SolucionFNWS/GDocEntrantesWS.asmx" />
    </wsdl:port>
    <wsdl:port name="GDocEntrantesWSSoap12" binding="tns:GDocEntrantesWSSoap12">
      <soap12:address location="http://localhost:3003/SolucionFNWS/GDocEntrantesWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>