Proyectos/AMV/GDocEntrantes/ClientesDir/ClienteMarcoDir/ClienteAdminAS/Web References/OperadorWS/OperadorWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GuardarOperador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="operador" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarOperadorResponse">
        <s:complexType />
      </s:element>
      <s:element name="RecuperarListadoOperadores">
        <s:complexType />
      </s:element>
      <s:element name="RecuperarListadoOperadoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarListadoOperadoresResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarOperador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarOperadorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarOperadorResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BajaOperador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idOperador" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BajaOperadorResponse">
        <s:complexType />
      </s:element>
      <s:element name="ReactivarOperador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idOperador" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReactivarOperadorResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GuardarOperadorSoapIn">
    <wsdl:part name="parameters" element="tns:GuardarOperador" />
  </wsdl:message>
  <wsdl:message name="GuardarOperadorSoapOut">
    <wsdl:part name="parameters" element="tns:GuardarOperadorResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperarListadoOperadoresSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarListadoOperadores" />
  </wsdl:message>
  <wsdl:message name="RecuperarListadoOperadoresSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarListadoOperadoresResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperarOperadorSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarOperador" />
  </wsdl:message>
  <wsdl:message name="RecuperarOperadorSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarOperadorResponse" />
  </wsdl:message>
  <wsdl:message name="BajaOperadorSoapIn">
    <wsdl:part name="parameters" element="tns:BajaOperador" />
  </wsdl:message>
  <wsdl:message name="BajaOperadorSoapOut">
    <wsdl:part name="parameters" element="tns:BajaOperadorResponse" />
  </wsdl:message>
  <wsdl:message name="ReactivarOperadorSoapIn">
    <wsdl:part name="parameters" element="tns:ReactivarOperador" />
  </wsdl:message>
  <wsdl:message name="ReactivarOperadorSoapOut">
    <wsdl:part name="parameters" element="tns:ReactivarOperadorResponse" />
  </wsdl:message>
  <wsdl:portType name="OperadorWSSoap">
    <wsdl:operation name="GuardarOperador">
      <wsdl:input message="tns:GuardarOperadorSoapIn" />
      <wsdl:output message="tns:GuardarOperadorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarListadoOperadores">
      <wsdl:input message="tns:RecuperarListadoOperadoresSoapIn" />
      <wsdl:output message="tns:RecuperarListadoOperadoresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarOperador">
      <wsdl:input message="tns:RecuperarOperadorSoapIn" />
      <wsdl:output message="tns:RecuperarOperadorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BajaOperador">
      <wsdl:input message="tns:BajaOperadorSoapIn" />
      <wsdl:output message="tns:BajaOperadorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReactivarOperador">
      <wsdl:input message="tns:ReactivarOperadorSoapIn" />
      <wsdl:output message="tns:ReactivarOperadorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OperadorWSSoap" type="tns:OperadorWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GuardarOperador">
      <soap:operation soapAction="http://tempuri.org/GuardarOperador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarListadoOperadores">
      <soap:operation soapAction="http://tempuri.org/RecuperarListadoOperadores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarOperador">
      <soap:operation soapAction="http://tempuri.org/RecuperarOperador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaOperador">
      <soap:operation soapAction="http://tempuri.org/BajaOperador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReactivarOperador">
      <soap:operation soapAction="http://tempuri.org/ReactivarOperador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OperadorWSSoap12" type="tns:OperadorWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GuardarOperador">
      <soap12:operation soapAction="http://tempuri.org/GuardarOperador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarListadoOperadores">
      <soap12:operation soapAction="http://tempuri.org/RecuperarListadoOperadores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarOperador">
      <soap12:operation soapAction="http://tempuri.org/RecuperarOperador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaOperador">
      <soap12:operation soapAction="http://tempuri.org/BajaOperador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReactivarOperador">
      <soap12:operation soapAction="http://tempuri.org/ReactivarOperador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OperadorWS">
    <wsdl:port name="OperadorWSSoap" binding="tns:OperadorWSSoap">
      <soap:address location="http://localhost:3002/SolucionFNWS/OperadorWS.asmx" />
    </wsdl:port>
    <wsdl:port name="OperadorWSSoap12" binding="tns:OperadorWSSoap12">
      <soap12:address location="http://localhost:3002/SolucionFNWS/OperadorWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>