Framework/MOTORBUSQUEDA/MotorBusquedaAS/Web References/MotorBusquedaWS/MotorBusquedaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RecuperarTiposQueImplementan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pNombreCompletoClase" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NombrePropiedad" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarTiposQueImplementanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarTiposQueImplementanResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarEstructuraVista">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pParametroCargaEstructuraDN" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarEstructuraVistaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarEstructuraVistaResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarDatos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pFiltroDN" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarDatosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarDatosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RecuperarTiposQueImplementanSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarTiposQueImplementan" />
  </wsdl:message>
  <wsdl:message name="RecuperarTiposQueImplementanSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarTiposQueImplementanResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperarEstructuraVistaSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarEstructuraVista" />
  </wsdl:message>
  <wsdl:message name="RecuperarEstructuraVistaSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarEstructuraVistaResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperarDatosSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarDatos" />
  </wsdl:message>
  <wsdl:message name="RecuperarDatosSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarDatosResponse" />
  </wsdl:message>
  <wsdl:portType name="MotorBusquedaWSSoap">
    <wsdl:operation name="RecuperarTiposQueImplementan">
      <wsdl:input message="tns:RecuperarTiposQueImplementanSoapIn" />
      <wsdl:output message="tns:RecuperarTiposQueImplementanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarEstructuraVista">
      <wsdl:input message="tns:RecuperarEstructuraVistaSoapIn" />
      <wsdl:output message="tns:RecuperarEstructuraVistaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarDatos">
      <wsdl:input message="tns:RecuperarDatosSoapIn" />
      <wsdl:output message="tns:RecuperarDatosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MotorBusquedaWSSoap" type="tns:MotorBusquedaWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecuperarTiposQueImplementan">
      <soap:operation soapAction="http://tempuri.org/RecuperarTiposQueImplementan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarEstructuraVista">
      <soap:operation soapAction="http://tempuri.org/RecuperarEstructuraVista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarDatos">
      <soap:operation soapAction="http://tempuri.org/RecuperarDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MotorBusquedaWSSoap12" type="tns:MotorBusquedaWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecuperarTiposQueImplementan">
      <soap12:operation soapAction="http://tempuri.org/RecuperarTiposQueImplementan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarEstructuraVista">
      <soap12:operation soapAction="http://tempuri.org/RecuperarEstructuraVista" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarDatos">
      <soap12:operation soapAction="http://tempuri.org/RecuperarDatos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MotorBusquedaWS">
    <wsdl:port name="MotorBusquedaWSSoap" binding="tns:MotorBusquedaWSSoap">
      <soap:address location="http://localhost:3002/SolucionFrameworkWS/MotorBusquedaWS.asmx" />
    </wsdl:port>
    <wsdl:port name="MotorBusquedaWSSoap12" binding="tns:MotorBusquedaWSSoap12">
      <soap12:address location="http://localhost:3002/SolucionFrameworkWS/MotorBusquedaWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>