FrameworkNegocio/SegurosMod/PolizasMod/PolizasAS/Web References/PolizasWS/PolizasWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RecuperarCrearTomador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pCifNif" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarCrearTomadorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarCrearTomadorResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RecuperarCrearTomadorSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarCrearTomador" />
  </wsdl:message>
  <wsdl:message name="RecuperarCrearTomadorSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarCrearTomadorResponse" />
  </wsdl:message>
  <wsdl:portType name="PolizasWSSoap">
    <wsdl:operation name="RecuperarCrearTomador">
      <wsdl:input message="tns:RecuperarCrearTomadorSoapIn" />
      <wsdl:output message="tns:RecuperarCrearTomadorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PolizasWSSoap" type="tns:PolizasWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecuperarCrearTomador">
      <soap:operation soapAction="http://tempuri.org/RecuperarCrearTomador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PolizasWSSoap12" type="tns:PolizasWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecuperarCrearTomador">
      <soap12:operation soapAction="http://tempuri.org/RecuperarCrearTomador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PolizasWS">
    <wsdl:port name="PolizasWSSoap" binding="tns:PolizasWSSoap">
      <soap:address location="http://localhost:3003/SolucionFNWS/PolizasWS.asmx" />
    </wsdl:port>
    <wsdl:port name="PolizasWSSoap12" binding="tns:PolizasWSSoap12">
      <soap12:address location="http://localhost:3003/SolucionFNWS/PolizasWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>