Framework/AS/Web References/MV2WS/MV2WS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RecuperarCrearOperacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vm" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarCrearOperacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarCrearOperacionResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarColTiposCompatibles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pTipo" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarColTiposCompatiblesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarColTiposCompatiblesResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarDNGenerico">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pIEntidadBaseDN" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarDNGenericoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GuardarDNGenericoResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarColDNGenerico">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pColIHuellaEntidadDN" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarColDNGenericoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GuardarColDNGenericoResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarDNGenerico">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pHuellaEntidadDN" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarDNGenericoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarDNGenericoResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarColDNGenerico">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pColIHuellaEntidadDN" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarColDNGenericoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarColDNGenericoResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RecuperarCrearOperacionSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarCrearOperacion" />
  </wsdl:message>
  <wsdl:message name="RecuperarCrearOperacionSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarCrearOperacionResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperarColTiposCompatiblesSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarColTiposCompatibles" />
  </wsdl:message>
  <wsdl:message name="RecuperarColTiposCompatiblesSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarColTiposCompatiblesResponse" />
  </wsdl:message>
  <wsdl:message name="GuardarDNGenericoSoapIn">
    <wsdl:part name="parameters" element="tns:GuardarDNGenerico" />
  </wsdl:message>
  <wsdl:message name="GuardarDNGenericoSoapOut">
    <wsdl:part name="parameters" element="tns:GuardarDNGenericoResponse" />
  </wsdl:message>
  <wsdl:message name="GuardarColDNGenericoSoapIn">
    <wsdl:part name="parameters" element="tns:GuardarColDNGenerico" />
  </wsdl:message>
  <wsdl:message name="GuardarColDNGenericoSoapOut">
    <wsdl:part name="parameters" element="tns:GuardarColDNGenericoResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperarDNGenericoSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarDNGenerico" />
  </wsdl:message>
  <wsdl:message name="RecuperarDNGenericoSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarDNGenericoResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperarColDNGenericoSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarColDNGenerico" />
  </wsdl:message>
  <wsdl:message name="RecuperarColDNGenericoSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarColDNGenericoResponse" />
  </wsdl:message>
  <wsdl:portType name="MV2WSSoap">
    <wsdl:operation name="RecuperarCrearOperacion">
      <wsdl:input message="tns:RecuperarCrearOperacionSoapIn" />
      <wsdl:output message="tns:RecuperarCrearOperacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarColTiposCompatibles">
      <wsdl:input message="tns:RecuperarColTiposCompatiblesSoapIn" />
      <wsdl:output message="tns:RecuperarColTiposCompatiblesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GuardarDNGenerico">
      <wsdl:input message="tns:GuardarDNGenericoSoapIn" />
      <wsdl:output message="tns:GuardarDNGenericoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GuardarColDNGenerico">
      <wsdl:input message="tns:GuardarColDNGenericoSoapIn" />
      <wsdl:output message="tns:GuardarColDNGenericoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarDNGenerico">
      <wsdl:input message="tns:RecuperarDNGenericoSoapIn" />
      <wsdl:output message="tns:RecuperarDNGenericoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarColDNGenerico">
      <wsdl:input message="tns:RecuperarColDNGenericoSoapIn" />
      <wsdl:output message="tns:RecuperarColDNGenericoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MV2WSSoap" type="tns:MV2WSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecuperarCrearOperacion">
      <soap:operation soapAction="http://tempuri.org/RecuperarCrearOperacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarColTiposCompatibles">
      <soap:operation soapAction="http://tempuri.org/RecuperarColTiposCompatibles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarDNGenerico">
      <soap:operation soapAction="http://tempuri.org/GuardarDNGenerico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarColDNGenerico">
      <soap:operation soapAction="http://tempuri.org/GuardarColDNGenerico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarDNGenerico">
      <soap:operation soapAction="http://tempuri.org/RecuperarDNGenerico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarColDNGenerico">
      <soap:operation soapAction="http://tempuri.org/RecuperarColDNGenerico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MV2WSSoap12" type="tns:MV2WSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecuperarCrearOperacion">
      <soap12:operation soapAction="http://tempuri.org/RecuperarCrearOperacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarColTiposCompatibles">
      <soap12:operation soapAction="http://tempuri.org/RecuperarColTiposCompatibles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarDNGenerico">
      <soap12:operation soapAction="http://tempuri.org/GuardarDNGenerico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarColDNGenerico">
      <soap12:operation soapAction="http://tempuri.org/GuardarColDNGenerico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarDNGenerico">
      <soap12:operation soapAction="http://tempuri.org/RecuperarDNGenerico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarColDNGenerico">
      <soap12:operation soapAction="http://tempuri.org/RecuperarColDNGenerico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MV2WS">
    <wsdl:port name="MV2WSSoap" binding="tns:MV2WSSoap">
      <soap:address location="http://localhost:3002/SolucionFrameworkWS/MV2WS.asmx" />
    </wsdl:port>
    <wsdl:port name="MV2WSSoap12" binding="tns:MV2WSSoap12">
      <soap12:address location="http://localhost:3002/SolucionFrameworkWS/MV2WS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>