Proyectos/AMV/GestionSegurosAMV/Cliente/GSAMVAS/Web References/GSAMVWS/GSAMVWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GenerarPresupuestoxCuestionarioRes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cuestionarioR" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerarPresupuestoxCuestionarioResResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerarPresupuestoxCuestionarioResResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerarTarifaxCuestionarioRes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cuestionarioR" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="tiempoTarificado" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerarTarifaxCuestionarioResResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerarTarifaxCuestionarioResResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GenerarPresupuestoxCuestionarioResSoapIn">
    <wsdl:part name="parameters" element="tns:GenerarPresupuestoxCuestionarioRes" />
  </wsdl:message>
  <wsdl:message name="GenerarPresupuestoxCuestionarioResSoapOut">
    <wsdl:part name="parameters" element="tns:GenerarPresupuestoxCuestionarioResResponse" />
  </wsdl:message>
  <wsdl:message name="GenerarTarifaxCuestionarioResSoapIn">
    <wsdl:part name="parameters" element="tns:GenerarTarifaxCuestionarioRes" />
  </wsdl:message>
  <wsdl:message name="GenerarTarifaxCuestionarioResSoapOut">
    <wsdl:part name="parameters" element="tns:GenerarTarifaxCuestionarioResResponse" />
  </wsdl:message>
  <wsdl:portType name="GSAMVWSSoap">
    <wsdl:operation name="GenerarPresupuestoxCuestionarioRes">
      <wsdl:input message="tns:GenerarPresupuestoxCuestionarioResSoapIn" />
      <wsdl:output message="tns:GenerarPresupuestoxCuestionarioResSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerarTarifaxCuestionarioRes">
      <wsdl:input message="tns:GenerarTarifaxCuestionarioResSoapIn" />
      <wsdl:output message="tns:GenerarTarifaxCuestionarioResSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GSAMVWSSoap" type="tns:GSAMVWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerarPresupuestoxCuestionarioRes">
      <soap:operation soapAction="http://tempuri.org/GenerarPresupuestoxCuestionarioRes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerarTarifaxCuestionarioRes">
      <soap:operation soapAction="http://tempuri.org/GenerarTarifaxCuestionarioRes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GSAMVWSSoap12" type="tns:GSAMVWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerarPresupuestoxCuestionarioRes">
      <soap12:operation soapAction="http://tempuri.org/GenerarPresupuestoxCuestionarioRes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerarTarifaxCuestionarioRes">
      <soap12:operation soapAction="http://tempuri.org/GenerarTarifaxCuestionarioRes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GSAMVWS">
    <wsdl:port name="GSAMVWSSoap" binding="tns:GSAMVWSSoap">
      <soap:address location="http://localhost:3003/SolucionFNWS/GSAMVWS.asmx" />
    </wsdl:port>
    <wsdl:port name="GSAMVWSSoap12" binding="tns:GSAMVWSSoap12">
      <soap12:address location="http://localhost:3003/SolucionFNWS/GSAMVWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>