FrameworkNegocio/RiesgosVehiculosMod/RiesgosVehiculosAS/Web References/RiesgosVehiculosWS/RiesgosVehiculosWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CargarGrafoTarificacion">
        <s:complexType />
      </s:element>
      <s:element name="CargarGrafoTarificacionResponse">
        <s:complexType />
      </s:element>
      <s:element name="DesCargarGrafoTarificacion">
        <s:complexType />
      </s:element>
      <s:element name="DesCargarGrafoTarificacionResponse">
        <s:complexType />
      </s:element>
      <s:element name="RecuperarRiesgoMotor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pMatricula" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pNumeroBastidor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarRiesgoMotorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarRiesgoMotorResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarModelosPorMarca">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pMarca" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarModelosPorMarcaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarModelosPorMarcaResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExisteModeloDatos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombreModelo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreMarca" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="estadoMatriculacion" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="fecha" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExisteModeloDatosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExisteModeloDatosResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificarDatosPresupuesto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="presupuesto" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificarDatosPresupuestoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerificarDatosPresupuestoResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TarificarPresupuesto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="presupuesto" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TarificarPresupuestoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TarificarPresupuestoResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TarificarTarifa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pTarifa" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TarificarTarifaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TarificarTarifaResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarPoliza">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="periodoR" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="tarifa" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="cuestionarioR" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="fechaInicioPC" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarPolizaResponse">
        <s:complexType />
      </s:element>
      <s:element name="RecuperarModeloDatos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombreModelo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreMarca" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="matriculada" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="fecha" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarModeloDatosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarModeloDatosResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarProductosModelo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="modelo" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="matriculada" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="fecha" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarProductosModeloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarProductosModeloResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CargarGrafoTarificacionSoapIn">
    <wsdl:part name="parameters" element="tns:CargarGrafoTarificacion" />
  </wsdl:message>
  <wsdl:message name="CargarGrafoTarificacionSoapOut">
    <wsdl:part name="parameters" element="tns:CargarGrafoTarificacionResponse" />
  </wsdl:message>
  <wsdl:message name="DesCargarGrafoTarificacionSoapIn">
    <wsdl:part name="parameters" element="tns:DesCargarGrafoTarificacion" />
  </wsdl:message>
  <wsdl:message name="DesCargarGrafoTarificacionSoapOut">
    <wsdl:part name="parameters" element="tns:DesCargarGrafoTarificacionResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperarRiesgoMotorSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarRiesgoMotor" />
  </wsdl:message>
  <wsdl:message name="RecuperarRiesgoMotorSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarRiesgoMotorResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperarModelosPorMarcaSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarModelosPorMarca" />
  </wsdl:message>
  <wsdl:message name="RecuperarModelosPorMarcaSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarModelosPorMarcaResponse" />
  </wsdl:message>
  <wsdl:message name="ExisteModeloDatosSoapIn">
    <wsdl:part name="parameters" element="tns:ExisteModeloDatos" />
  </wsdl:message>
  <wsdl:message name="ExisteModeloDatosSoapOut">
    <wsdl:part name="parameters" element="tns:ExisteModeloDatosResponse" />
  </wsdl:message>
  <wsdl:message name="VerificarDatosPresupuestoSoapIn">
    <wsdl:part name="parameters" element="tns:VerificarDatosPresupuesto" />
  </wsdl:message>
  <wsdl:message name="VerificarDatosPresupuestoSoapOut">
    <wsdl:part name="parameters" element="tns:VerificarDatosPresupuestoResponse" />
  </wsdl:message>
  <wsdl:message name="TarificarPresupuestoSoapIn">
    <wsdl:part name="parameters" element="tns:TarificarPresupuesto" />
  </wsdl:message>
  <wsdl:message name="TarificarPresupuestoSoapOut">
    <wsdl:part name="parameters" element="tns:TarificarPresupuestoResponse" />
  </wsdl:message>
  <wsdl:message name="TarificarTarifaSoapIn">
    <wsdl:part name="parameters" element="tns:TarificarTarifa" />
  </wsdl:message>
  <wsdl:message name="TarificarTarifaSoapOut">
    <wsdl:part name="parameters" element="tns:TarificarTarifaResponse" />
  </wsdl:message>
  <wsdl:message name="ModificarPolizaSoapIn">
    <wsdl:part name="parameters" element="tns:ModificarPoliza" />
  </wsdl:message>
  <wsdl:message name="ModificarPolizaSoapOut">
    <wsdl:part name="parameters" element="tns:ModificarPolizaResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperarModeloDatosSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarModeloDatos" />
  </wsdl:message>
  <wsdl:message name="RecuperarModeloDatosSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarModeloDatosResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperarProductosModeloSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarProductosModelo" />
  </wsdl:message>
  <wsdl:message name="RecuperarProductosModeloSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarProductosModeloResponse" />
  </wsdl:message>
  <wsdl:portType name="RiesgosVehiculosWSSoap">
    <wsdl:operation name="CargarGrafoTarificacion">
      <wsdl:input message="tns:CargarGrafoTarificacionSoapIn" />
      <wsdl:output message="tns:CargarGrafoTarificacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DesCargarGrafoTarificacion">
      <wsdl:input message="tns:DesCargarGrafoTarificacionSoapIn" />
      <wsdl:output message="tns:DesCargarGrafoTarificacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarRiesgoMotor">
      <wsdl:input message="tns:RecuperarRiesgoMotorSoapIn" />
      <wsdl:output message="tns:RecuperarRiesgoMotorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarModelosPorMarca">
      <wsdl:input message="tns:RecuperarModelosPorMarcaSoapIn" />
      <wsdl:output message="tns:RecuperarModelosPorMarcaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExisteModeloDatos">
      <wsdl:input message="tns:ExisteModeloDatosSoapIn" />
      <wsdl:output message="tns:ExisteModeloDatosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerificarDatosPresupuesto">
      <wsdl:input message="tns:VerificarDatosPresupuestoSoapIn" />
      <wsdl:output message="tns:VerificarDatosPresupuestoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TarificarPresupuesto">
      <wsdl:input message="tns:TarificarPresupuestoSoapIn" />
      <wsdl:output message="tns:TarificarPresupuestoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TarificarTarifa">
      <wsdl:input message="tns:TarificarTarifaSoapIn" />
      <wsdl:output message="tns:TarificarTarifaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificarPoliza">
      <wsdl:input message="tns:ModificarPolizaSoapIn" />
      <wsdl:output message="tns:ModificarPolizaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarModeloDatos">
      <wsdl:input message="tns:RecuperarModeloDatosSoapIn" />
      <wsdl:output message="tns:RecuperarModeloDatosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarProductosModelo">
      <wsdl:input message="tns:RecuperarProductosModeloSoapIn" />
      <wsdl:output message="tns:RecuperarProductosModeloSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RiesgosVehiculosWSSoap" type="tns:RiesgosVehiculosWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CargarGrafoTarificacion">
      <soap:operation soapAction="http://tempuri.org/CargarGrafoTarificacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DesCargarGrafoTarificacion">
      <soap:operation soapAction="http://tempuri.org/DesCargarGrafoTarificacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarRiesgoMotor">
      <soap:operation soapAction="http://tempuri.org/RecuperarRiesgoMotor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarModelosPorMarca">
      <soap:operation soapAction="http://tempuri.org/RecuperarModelosPorMarca" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExisteModeloDatos">
      <soap:operation soapAction="http://tempuri.org/ExisteModeloDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarDatosPresupuesto">
      <soap:operation soapAction="http://tempuri.org/VerificarDatosPresupuesto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TarificarPresupuesto">
      <soap:operation soapAction="http://tempuri.org/TarificarPresupuesto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TarificarTarifa">
      <soap:operation soapAction="http://tempuri.org/TarificarTarifa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarPoliza">
      <soap:operation soapAction="http://tempuri.org/ModificarPoliza" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarModeloDatos">
      <soap:operation soapAction="http://tempuri.org/RecuperarModeloDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarProductosModelo">
      <soap:operation soapAction="http://tempuri.org/RecuperarProductosModelo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RiesgosVehiculosWSSoap12" type="tns:RiesgosVehiculosWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CargarGrafoTarificacion">
      <soap12:operation soapAction="http://tempuri.org/CargarGrafoTarificacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DesCargarGrafoTarificacion">
      <soap12:operation soapAction="http://tempuri.org/DesCargarGrafoTarificacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarRiesgoMotor">
      <soap12:operation soapAction="http://tempuri.org/RecuperarRiesgoMotor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarModelosPorMarca">
      <soap12:operation soapAction="http://tempuri.org/RecuperarModelosPorMarca" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExisteModeloDatos">
      <soap12:operation soapAction="http://tempuri.org/ExisteModeloDatos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarDatosPresupuesto">
      <soap12:operation soapAction="http://tempuri.org/VerificarDatosPresupuesto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TarificarPresupuesto">
      <soap12:operation soapAction="http://tempuri.org/TarificarPresupuesto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TarificarTarifa">
      <soap12:operation soapAction="http://tempuri.org/TarificarTarifa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarPoliza">
      <soap12:operation soapAction="http://tempuri.org/ModificarPoliza" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarModeloDatos">
      <soap12:operation soapAction="http://tempuri.org/RecuperarModeloDatos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarProductosModelo">
      <soap12:operation soapAction="http://tempuri.org/RecuperarProductosModelo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RiesgosVehiculosWS">
    <wsdl:port name="RiesgosVehiculosWSSoap" binding="tns:RiesgosVehiculosWSSoap">
      <soap:address location="http://localhost:3003/SolucionFNWS/RiesgosVehiculosWS.asmx" />
    </wsdl:port>
    <wsdl:port name="RiesgosVehiculosWSSoap12" binding="tns:RiesgosVehiculosWSSoap12">
      <soap12:address location="http://localhost:3003/SolucionFNWS/RiesgosVehiculosWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>