FrameworkNegocio/GestionPagosMod/GestionPagosAS/Web References/GestionPagosWS/GestionPagosWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CargarAgrupacionID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pAgrupApunteImpDDN" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CargarAgrupacionIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CargarAgrupacionIDResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrearAgrupacionID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pParEntFiscalGenericaParamDN" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrearAgrupacionIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CrearAgrupacionIDResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarImportesDebidosLibres">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pParEntFiscalGenericaParamDN" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarImportesDebidosLibresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarImportesDebidosLibresResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompensarPago">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pPagoCompensador" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompensarPagoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompensarPagoResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnularPago">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pPago" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnularPagoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AnularPagoResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LiquidarPago">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pPago" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LiquidarPagoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LiquidarPagoResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EfectuarPago">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pPago" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EfectuarPagoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EfectuarPagoResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EfectuarYLiquidarPago">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pPago" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EfectuarYLiquidarPagoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EfectuarYLiquidarPagoResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrearPagoAgrupadorProvisional">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pPago" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrearPagoAgrupadorProvisionalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CrearPagoAgrupadorProvisionalResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnularPagosNoEmitidosYCrearPagoAgrupador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pPagoAgrupador" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnularPagosNoEmitidosYCrearPagoAgrupadorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AnularPagosNoEmitidosYCrearPagoAgrupadorResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CargarAgrupacionIDSoapIn">
    <wsdl:part name="parameters" element="tns:CargarAgrupacionID" />
  </wsdl:message>
  <wsdl:message name="CargarAgrupacionIDSoapOut">
    <wsdl:part name="parameters" element="tns:CargarAgrupacionIDResponse" />
  </wsdl:message>
  <wsdl:message name="CrearAgrupacionIDSoapIn">
    <wsdl:part name="parameters" element="tns:CrearAgrupacionID" />
  </wsdl:message>
  <wsdl:message name="CrearAgrupacionIDSoapOut">
    <wsdl:part name="parameters" element="tns:CrearAgrupacionIDResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarImportesDebidosLibresSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarImportesDebidosLibres" />
  </wsdl:message>
  <wsdl:message name="BuscarImportesDebidosLibresSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarImportesDebidosLibresResponse" />
  </wsdl:message>
  <wsdl:message name="CompensarPagoSoapIn">
    <wsdl:part name="parameters" element="tns:CompensarPago" />
  </wsdl:message>
  <wsdl:message name="CompensarPagoSoapOut">
    <wsdl:part name="parameters" element="tns:CompensarPagoResponse" />
  </wsdl:message>
  <wsdl:message name="AnularPagoSoapIn">
    <wsdl:part name="parameters" element="tns:AnularPago" />
  </wsdl:message>
  <wsdl:message name="AnularPagoSoapOut">
    <wsdl:part name="parameters" element="tns:AnularPagoResponse" />
  </wsdl:message>
  <wsdl:message name="LiquidarPagoSoapIn">
    <wsdl:part name="parameters" element="tns:LiquidarPago" />
  </wsdl:message>
  <wsdl:message name="LiquidarPagoSoapOut">
    <wsdl:part name="parameters" element="tns:LiquidarPagoResponse" />
  </wsdl:message>
  <wsdl:message name="EfectuarPagoSoapIn">
    <wsdl:part name="parameters" element="tns:EfectuarPago" />
  </wsdl:message>
  <wsdl:message name="EfectuarPagoSoapOut">
    <wsdl:part name="parameters" element="tns:EfectuarPagoResponse" />
  </wsdl:message>
  <wsdl:message name="EfectuarYLiquidarPagoSoapIn">
    <wsdl:part name="parameters" element="tns:EfectuarYLiquidarPago" />
  </wsdl:message>
  <wsdl:message name="EfectuarYLiquidarPagoSoapOut">
    <wsdl:part name="parameters" element="tns:EfectuarYLiquidarPagoResponse" />
  </wsdl:message>
  <wsdl:message name="CrearPagoAgrupadorProvisionalSoapIn">
    <wsdl:part name="parameters" element="tns:CrearPagoAgrupadorProvisional" />
  </wsdl:message>
  <wsdl:message name="CrearPagoAgrupadorProvisionalSoapOut">
    <wsdl:part name="parameters" element="tns:CrearPagoAgrupadorProvisionalResponse" />
  </wsdl:message>
  <wsdl:message name="AnularPagosNoEmitidosYCrearPagoAgrupadorSoapIn">
    <wsdl:part name="parameters" element="tns:AnularPagosNoEmitidosYCrearPagoAgrupador" />
  </wsdl:message>
  <wsdl:message name="AnularPagosNoEmitidosYCrearPagoAgrupadorSoapOut">
    <wsdl:part name="parameters" element="tns:AnularPagosNoEmitidosYCrearPagoAgrupadorResponse" />
  </wsdl:message>
  <wsdl:portType name="GestionPagosWSSoap">
    <wsdl:operation name="CargarAgrupacionID">
      <wsdl:input message="tns:CargarAgrupacionIDSoapIn" />
      <wsdl:output message="tns:CargarAgrupacionIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CrearAgrupacionID">
      <wsdl:input message="tns:CrearAgrupacionIDSoapIn" />
      <wsdl:output message="tns:CrearAgrupacionIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarImportesDebidosLibres">
      <wsdl:input message="tns:BuscarImportesDebidosLibresSoapIn" />
      <wsdl:output message="tns:BuscarImportesDebidosLibresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CompensarPago">
      <wsdl:input message="tns:CompensarPagoSoapIn" />
      <wsdl:output message="tns:CompensarPagoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AnularPago">
      <wsdl:input message="tns:AnularPagoSoapIn" />
      <wsdl:output message="tns:AnularPagoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LiquidarPago">
      <wsdl:input message="tns:LiquidarPagoSoapIn" />
      <wsdl:output message="tns:LiquidarPagoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EfectuarPago">
      <wsdl:input message="tns:EfectuarPagoSoapIn" />
      <wsdl:output message="tns:EfectuarPagoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EfectuarYLiquidarPago">
      <wsdl:input message="tns:EfectuarYLiquidarPagoSoapIn" />
      <wsdl:output message="tns:EfectuarYLiquidarPagoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CrearPagoAgrupadorProvisional">
      <wsdl:input message="tns:CrearPagoAgrupadorProvisionalSoapIn" />
      <wsdl:output message="tns:CrearPagoAgrupadorProvisionalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AnularPagosNoEmitidosYCrearPagoAgrupador">
      <wsdl:input message="tns:AnularPagosNoEmitidosYCrearPagoAgrupadorSoapIn" />
      <wsdl:output message="tns:AnularPagosNoEmitidosYCrearPagoAgrupadorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GestionPagosWSSoap" type="tns:GestionPagosWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CargarAgrupacionID">
      <soap:operation soapAction="http://tempuri.org/CargarAgrupacionID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearAgrupacionID">
      <soap:operation soapAction="http://tempuri.org/CrearAgrupacionID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarImportesDebidosLibres">
      <soap:operation soapAction="http://tempuri.org/BuscarImportesDebidosLibres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompensarPago">
      <soap:operation soapAction="http://tempuri.org/CompensarPago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnularPago">
      <soap:operation soapAction="http://tempuri.org/AnularPago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LiquidarPago">
      <soap:operation soapAction="http://tempuri.org/LiquidarPago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EfectuarPago">
      <soap:operation soapAction="http://tempuri.org/EfectuarPago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EfectuarYLiquidarPago">
      <soap:operation soapAction="http://tempuri.org/EfectuarYLiquidarPago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearPagoAgrupadorProvisional">
      <soap:operation soapAction="http://tempuri.org/CrearPagoAgrupadorProvisional" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnularPagosNoEmitidosYCrearPagoAgrupador">
      <soap:operation soapAction="http://tempuri.org/AnularPagosNoEmitidosYCrearPagoAgrupador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GestionPagosWSSoap12" type="tns:GestionPagosWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CargarAgrupacionID">
      <soap12:operation soapAction="http://tempuri.org/CargarAgrupacionID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearAgrupacionID">
      <soap12:operation soapAction="http://tempuri.org/CrearAgrupacionID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarImportesDebidosLibres">
      <soap12:operation soapAction="http://tempuri.org/BuscarImportesDebidosLibres" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompensarPago">
      <soap12:operation soapAction="http://tempuri.org/CompensarPago" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnularPago">
      <soap12:operation soapAction="http://tempuri.org/AnularPago" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LiquidarPago">
      <soap12:operation soapAction="http://tempuri.org/LiquidarPago" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EfectuarPago">
      <soap12:operation soapAction="http://tempuri.org/EfectuarPago" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EfectuarYLiquidarPago">
      <soap12:operation soapAction="http://tempuri.org/EfectuarYLiquidarPago" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearPagoAgrupadorProvisional">
      <soap12:operation soapAction="http://tempuri.org/CrearPagoAgrupadorProvisional" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnularPagosNoEmitidosYCrearPagoAgrupador">
      <soap12:operation soapAction="http://tempuri.org/AnularPagosNoEmitidosYCrearPagoAgrupador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GestionPagosWS">
    <wsdl:port name="GestionPagosWSSoap" binding="tns:GestionPagosWSSoap">
      <soap:address location="http://localhost:3003/SolucionFNWS/GestionPagosWS.asmx" />
    </wsdl:port>
    <wsdl:port name="GestionPagosWSSoap12" binding="tns:GestionPagosWSSoap12">
      <soap12:address location="http://localhost:3003/SolucionFNWS/GestionPagosWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>