FrameworkNegocio/EmpresasMod/EmpresaAS/Web References/EmpresasWS/EmpresasWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GuardarEmpleadoYPuestosR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="empPuestoR" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarEmpleadoYPuestosRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GuardarEmpleadoYPuestosRResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarSedePrincipalxCIFEmpresa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cifNifEmpresa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarSedePrincipalxCIFEmpresaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarSedePrincipalxCIFEmpresaResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GuardarEmpleadoYPuestosRSoapIn">
    <wsdl:part name="parameters" element="tns:GuardarEmpleadoYPuestosR" />
  </wsdl:message>
  <wsdl:message name="GuardarEmpleadoYPuestosRSoapOut">
    <wsdl:part name="parameters" element="tns:GuardarEmpleadoYPuestosRResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperarSedePrincipalxCIFEmpresaSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarSedePrincipalxCIFEmpresa" />
  </wsdl:message>
  <wsdl:message name="RecuperarSedePrincipalxCIFEmpresaSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarSedePrincipalxCIFEmpresaResponse" />
  </wsdl:message>
  <wsdl:portType name="EmpresasWSSoap">
    <wsdl:operation name="GuardarEmpleadoYPuestosR">
      <wsdl:input message="tns:GuardarEmpleadoYPuestosRSoapIn" />
      <wsdl:output message="tns:GuardarEmpleadoYPuestosRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarSedePrincipalxCIFEmpresa">
      <wsdl:input message="tns:RecuperarSedePrincipalxCIFEmpresaSoapIn" />
      <wsdl:output message="tns:RecuperarSedePrincipalxCIFEmpresaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmpresasWSSoap" type="tns:EmpresasWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GuardarEmpleadoYPuestosR">
      <soap:operation soapAction="http://tempuri.org/GuardarEmpleadoYPuestosR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarSedePrincipalxCIFEmpresa">
      <soap:operation soapAction="http://tempuri.org/RecuperarSedePrincipalxCIFEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmpresasWSSoap12" type="tns:EmpresasWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GuardarEmpleadoYPuestosR">
      <soap12:operation soapAction="http://tempuri.org/GuardarEmpleadoYPuestosR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarSedePrincipalxCIFEmpresa">
      <soap12:operation soapAction="http://tempuri.org/RecuperarSedePrincipalxCIFEmpresa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmpresasWS">
    <wsdl:port name="EmpresasWSSoap" binding="tns:EmpresasWSSoap">
      <soap:address location="http://localhost:3001/SolucionFNWS/EmpresasWS.asmx" />
    </wsdl:port>
    <wsdl:port name="EmpresasWSSoap12" binding="tns:EmpresasWSSoap12">
      <soap12:address location="http://localhost:3001/SolucionFNWS/EmpresasWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>